body{
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background-color: #fafafa;
}

.flex{
    display: flex;
}

.fd-c{
    flex-direction: column;
}

.ai-c{
    align-items: center;
}

.jc-c{
    justify-content: center;
}

.jc-sb{
    justify-content: space-between;
}

.jc-sa{
    justify-content: space-around;
}

.side-padding{
    padding-left: 20%;
    padding-right: 20%;
}

.mt-20{
    margin-top: 20px;
}

header{
    height: 60px;
    background-color: #ffffff;
}

.logo{
    width: 103px;
    height: 29px;
}

.div_input{
    width: 252px;
    height: 36px;
    border: 1px solid transparent;
    background-color: #EFEFEF;
    border-radius: 8px;
    display: flex;
    flex-direction: row;
    padding: 2px 0 0 2px;
}

.lu{
    width: 16px;
    height: 16px;
    margin: 10px 12px 20px 10px;
}

.div_input > input{
    border: none;
    background-color: #EFEFEF;
}

.icon{
    width: 271px;
    height: 28px;
}

.icon-header{
    width: 20px;
    height: 20px;
}

.ava-header{
    width: 24px;
    height: 24px;
    border: 1px solid #000000;
    border-radius: 100%;
}

.info{
    height: 250px;
    border-bottom: 1px solid #EFEFEF;
}

.ava{
    width: 150px;
    height: 150px;
}

.info-insta{
    width: 50%;
    height: 200px;
}

.name-account{
    width: 350px;
    height: 30px;
}

.name{
    font-size: 28px;
    font-weight: 400;
    color: #000;
}

button{
    width: 97px;
    height: 30px;
    border-radius: 3px;
    border: 1px solid #EFEFEF;
    background-color: #ffffff;
    font-size: 14px;
    font-weight: 600;
    color: #000;
}

.icon-n{
    width: 24px;
    height: 24px;
}

.z-account{
    width: 400px;
}

.post{
    font-size: 16px;
    font-weight: 500;
    color: #000;
}

.name-ac{
    width: 100px;
    font-size: 18px;
    font-weight: 500;
}

.posts{
    width: 60px;
    border-top: 1px solid #000000;
    padding: 1% 0;
    margin-left: 470px;
}

.kub{
    width: 12px;
    height: 12px;
}

.text-post{
    font-size: 14px;
    font-weight: 500;
}